* {
  font-family: Pretendard;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}


/* span::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #e1e2e3;
    box-sizing: border-box;
  } */