.topbanner {
    height:304.77px;
}

.TopBanner_arrow__BN_7d {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
}

.img_wrap img { 
    width: 310px;
    height: 207px;
    border-radius: 8px;
    margin-bottom: 16px;
  }